# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\jonas\OneDrive\Skrivebord\Datamatiker\1. Semester\Softwareudvikling\Projekter\Marios-Pizzaria\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
